body {
	width: 100vw;
	
	background-image: url("img/posters/10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-attachment: fixed;
}

nav.stick {
	position: fixed;
	top: 0;
	
}

#movie .watermark {
	opacity: 0.3;
	position: absolute;
	bottom: 40px;
	left: 35px;
	z-index: 1;
}

section.footer {
	z-index: 2;
}

#movie {
	min-height: 100vh;
	color: white;
	background-color: rgba(0,0,0,0.7);
	position: relative;
}

#movie .controller {
	position: sticky;
	top: 50%;
}

#movie .miniposter {
	width: 100%;
	border-radius: 20px;
}

#movie .limit-block {
	padding-top: 50vh;
}

#movie .movietitle {
	padding: 15px 0;
	font-size: 40px;
}

#movie .menu {
	width: 100%;
}

#movie .menublock {
	width: 50%;
	padding: 0;
}

#movie .menublock:first-child {
	padding-right: 15px;
}

#movie .menulink {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	font-size: 25px;
	font-weight: 600;
	border-radius: 15px;
	color: black;
	text-align: center;
	padding-bottom: 0;
	padding: 10px 0;
}