@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;700&display=swap');

html,.moviecon {
    scroll-behavior: smooth;
}

body,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik','IBM Plex Sans Thai';
}

body.cantscroll {
    overflow: hidden;
}

.donttouchme {
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.relate {
    position: relative;
}

/* width */
::-webkit-scrollbar {

 display: none;
  width: 8px;
  height: 8px;
  z-index: 99;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0);
	
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DADADA;
	border-radius: 5px;
	box-shadow: inset 0 0 5px grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B1B1B1;
}

.limit-block {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.limit-block-xs {
    max-width: 900px;
}

.split {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
  
.split .item {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-top: 0;
    flex: 0 0 auto;
}

.vertmid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
    height: 600px;
}

@media (max-width: 650px) {
    header {
        height: 500px;
    }
}

nav.stick {
    position: fixed;
    top: 0;
    width: 100%;

    padding: 20px 25px;
    z-index: 99;

    transition: background-color 0.5s, padding 0.5s;
}

nav.stick.scrolled {
    background-color: #161616;
    padding: 10px 25px;
}

nav .navparent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav.stick:before {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}

nav h1 {
    display: inline;
    color: white;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.5s;
}

@media (min-width: 650px) {
	nav h1:hover {
    	opacity: 1;
	}
}


nav .btns {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
}

nav .btns a {
    margin: 0 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0.6;
}

@media (min-width: 650px) {
	nav .btns a.item:hover {
		opacity: 1;
	}	
}

@media (max-width: 650px) {
    nav .btns {
        display: none;
    }

    nav.fix {
        padding: 5px 25px;
    }
}

header .banner.banner.featured:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.5;
}

header .banner.featured .background {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}

header .banner.featured .abbottom {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

@media (min-width: 650px) {
    header .banner.featured .abbottom {
        bottom: 50%;
        transform: translateY(50%);
    }
}

header .banner.featured .center {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .banner.featured .title {
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.5s;
    transform-origin: bottom;
}

@media (max-width: 650px) {
    header .banner.featured .title {
        width: 90%;
    }
}
@media (min-width: 650px) {
	header .banner.featured .title:hover {
		transform: scale(1.1);
	}

}

header .banner.featured .watch button {
    max-width: 150px;
    padding: 15px 25px;
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
}

@media (min-width: 650px) {
	header .banner.featured .watch button:hover {
    	transform: scale(1.15);
    	background-color: rgba(255,255,255,1);
	}
}


	header .banner.featured .watch button img {
    	width: 100%;
	}


header .banner.featured .split {
    margin-top: 30px;
    width: 70%;
}

header .banner.featured .desc {
    color: white;
    text-align: end;
    font-weight: 300;
}

header .banner.featured .moreinfo {
    margin-top: 30px;
    padding-left: 0;
    cursor: pointer;
    transition: transform 0.5s;
}

@media (min-width: 650px) {
	header .banner.featured .moreinfo:hover {
    	transform: scale(1.15);
	}
}


header .banner.featured .moreinfo span {
    font-size: 20px;
    color: white;
    position: relative;
    top: 1px;
}


header .banner.featured .moreinfo img {

    vertical-align: middle;

}

header:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}


section.trending {
    background-color: black;
    color: white;
    padding: 100px 0 30px 0;
}

.movielist .sectiontitle img {
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 7px;
    position: relative;
    bottom: 3px;
}

.movielist .conslider {
    position: relative;
}

.movielist .moviecon {
    margin-top: 15px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
}

.movielist .moviecon .item {
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: black;
    color: white;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	
	transition: width 0.5s;
}

.movielist .moviecon .item:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0;
	transition: opacity 0.5s;
}
@media (min-width: 650px) {
	.movielist .moviecon .item:hover {
		width: 300px;
		cursor: pointer;
	}

	.movielist .moviecon .item:hover:after {
		opacity: 0.7;
	}
}


.movielist .moviecon .item img {
	position: absolute;
	top:0;
	left: 0;
	
	height: 100%;
	width: 100%;
	
	object-fit: cover;
	
}

.movielist .moviecon .item:not(:first-child) {
	margin-left: 7px;
}

.movielist .moviecon .item:last-child {
	margin-right: 120px;
}

.movielist .moviecon .item h1 {
	position: absolute;
	white-space: normal;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 250px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 2;
}
@media (min-width: 650px) {
	.movielist .moviecon .item:hover h1 {
		opacity: 1;
	}
}


@media (max-width: 650px) {
    .movielist .moviecon .item {
        height: 200px;
        width: 133.33px;
    }
}

.movielist .conslider .go {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
	max-width: 60px;
    z-index: 5;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

/*
@media (min-width: 650px) {
	.movielist .conslider .go{
		visibility: hidden;
	}
}

.movielist .conslider:hover .go {
	visibility: visible;
}
*/

.movielist .conslider .go img {
	width: 100%;
	
}

.movielist .conslider .go.next {
    right: 0;
/*    background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);*/
	background-color: rgba(0,0,0,0.7);
}

.movielist .conslider .go.prev {
    left: 0;
/*    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);*/
		background-color: rgba(0,0,0,0.7);
}




section.genre {
	color: white;
	background-color: black;
	padding: 40px 0;
}

section.genre .genrepicker .item {
	background-color: white;
	color: black;
	width: 100%;
	padding: 40px 15px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

section.genre .genrelanding {
	text-align: center;
}

section.genre .genrelanding .leftcol h1 {
	text-align: left;
	font-size: 2rem;
	margin-bottom: 20px;
}

@media (max-width: 1250px) {
	section.genre .genrelanding .leftcol h2 {
		font-size: 1.2rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

section.genre .genrelanding .leftcol .split .item {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: white;
	color: black;
	padding: 10px 15px;
}

section.genre .genrelanding .leftcol .split .col-6 {
	padding: calc(1.5rem * 0.25) calc(1.5rem * 0.25)
}

@media (max-width: 650px) {
	.hidemeonsmall {
		display: none;
	}
}


section.random {
    background-color: black;
    color: white;
    padding: 20px 0 100px 0;
}

section.random h1.sectiontitle {
	position: relative;
	margin-bottom: 30px;
}

section.random .random {
	float:right;
	z-index: 10;
	background-color: white;
	border: none;
	font-size: 17px;
	padding: 5px 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s;
}

@media (min-width: 650px) {
	section.random .random:hover {
		background-color: #A8A7A7;
	}
}



section.footer {
	padding: 30px 0 50px 0;
	background-color: #1A1A1A;
	color: white;
}

section.footer h1,
section.footer p{
	padding: 5px 0;
}

section.footer h1 {
	font-size: 28px;
}

section.footer p {
	font-size: 20px;
	
}
section.footer .split .col-ns-6 {
	padding-bottom: 0;
}
section.footer .socials {
	display: flex;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%)
}
section.footer .socials .block {
	background-color: rgba(0,0,0,0.3);
	width: 50px;height: 50px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	transition: background-color 0.5s, opacity 0.2s;
}

@media (min-width: 650px) {
	section.footer .socials:hover .block {
		opacity: 0.3;
	}
	section.footer .socials .block:hover {
		opacity: 1;
		background-color: rgba(0,0,0,1);
	}

}
section.footer .socials .block img {
	position: absolute;
	filter: invert(100%);
	width: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

@media (max-width: 650px) {
	section.footer h1,
	section.footer p {
		text-align: center
	}
	section.footer p {
		margin-bottom: 30px;
	}
	section.footer .socials {
		right: 50%;
		transform: translate(50%,-50%);
	}
}